.PageEntryRow {
    overflow: scroll;
    margin-bottom: 50px;
}

.PageEntryImage {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media (max-width: 991px) { 
 }
 