.Entry {
    overflow-y: scroll;
    overflow-x: hidden;
}

.EntryImage {
    /*height: 100vh;*/
    width: 40%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.SinglePostEntryImage {
    height: 100%;
    position: fixed;
}

.SinglePostEntryShadow {
    position: relative;
    width: 100%;
    height: 20px;
    margin-top: -20px;
    top: 0;
    left: 0;
    box-shadow: inset 0 -15px 15px -15px rgba(0,0,0,.45);
}

@media (max-width: 991px) { 
    .ListEntryRow {
        height: auto;
    }
    .EntryRowImage {
        min-height: 200px;
    }
 }